* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  }
  
  body {
  font-family: Arial;
  background: rgb(232,128,176);
  }
  
  html, body {
  height: 100%;
  margin: 0;
  }
  
  /* Header */
  .header {
  text-align: center;
  background: rgb(232,128,176);
  }

  #header-bg-1,#header-bg-2,#header-bg-3,#header-bg-4 {
	background-repeat: no-repeat;
	background-position: center top;
  height: 291px;
  } 

  #header-bg-1 { background-image: url("testbanner2.png"); }
  #header-bg-2 { background-image: url(""); }
  #header-bg-3 { background-image: url(""); }
  #header-bg-4 { background-image: url(""); }
  
  /* Style the top navigation bar */
  .topnav {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: #333;
  text-align: center;
  }
  
  /* Style the topnav links */
  .topnav a {
  display: -webkit-inline-box;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }
  
  /* Footer */
  .footer {
  width: 100%; 
  padding: 60px 0px;
  background-color: #333;
  text-align: center; 
  } 

  .btmnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
  }

  .btmnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  }
  
  .btmnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
    
  .btmnav-centered a {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  }

  .btmnav a:hover {
  color: #000;
  }

  a img {
  border: none;
  position: relative;
  }

  /* center */
  .center {   
  width: 100%;
  }

  */
  /* image in posts */
 .postimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  margin: 0;
  }

  /* Add a card effect for main post */
  .card {
  background-color: rgb(245,183,208);
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  }
 
  /* Add a card effect for download and link posts*/
  .card1, .card2 {
  background-color: rgb(245,183,208);
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 133px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid gray;
  }

  .card1 p {
   margin-bottom: 342px;
  }

  .card h3 a, p a, .card1 h3 a {
  color: rgb(232,128,176);
  text-decoration: none;
  }

  .links a {
  text-decoration: none;
  display: block;
  color: dodgerblue;
  padding: 5px;
  }

  .card2 h2, p {
  padding: 5px;
  margin-bottom: 5px;
  }

  /* Clear floats */
  .row:after {
  content: "";
  display: table;
  clear: both;
  }

  @media screen and (max-width: 800px) {
  .center, .card {   
  padding: 5px;
    }
  }
  
  @media screen and (max-width: 400px) {
  .topnav a {
  display: block;
  float: none;
  width: 100%;
    }
  } 

  @media screen and (max-width: 400px) {
  .btmnav a {
  display: block;
  float: none;    
    }
  }

  @media screen and (max-width: 500px) {
  #header-bg-1,#header-bg-2,#header-bg-3,#header-bg-4 {
  background-repeat: no-repeat;
  background-position: center top;
  height: 291px;
  }
      
  #header-bg-1 { background-image: url("MobileBanner.png"); }
  #header-bg-2 { background-image: url(""); }
  #header-bg-3 { background-image: url(""); }
  #header-bg-4 { background-image: url(""); }
  }